{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread",
    "transform-exponentiation-operator"
  ]
}
